/* FONTS:  */

@font-face {
    font-family: "Title";
    src: url("./font/Montserrat-Light.ttf");
}


@font-face {
    font-family: "Subtitle";
    src: url("./font/Montserrat-Regular.ttf");
}


@font-face {
    font-family: "Desc";
    src: url("./font/Roboto-Regular.ttf");
}

/* STYLE:  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #EEE;
}

a{
  color: #fff;
  text-decoration: none;
}

header{
  box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.3);
  background: #fff;
}

header h1{
  padding-top: 2.7vw;
  padding-bottom: 2.7vw;
  text-align: center;

  font-family: Title;
  font-size: 2.8vw;
  font-weight: 400;
}

.illustration{
  width: 35%;
  margin: 6%;
}

/* DESCRIPTION:  */

.description{
  float: right;
  width: 40%;
  margin: 6%;
  margin-top: 11%;
}

.description h3{
  color: #6c63ff;
  text-align: center;
  margin-bottom: 5%;

  font-family: Subtitle;
  font-size: 1.5vw;
  font-weight: 800;
}

.description p{
  line-height: 1.2vw;
  font-family: Desc;
  font-size: 1vw;
  font-weight: 100;
}

.criteres{
  color: #555;
}

.description .button{
  width: 9vw;
  background: rgb(8,10,147);
  border-radius: 500px;
  margin-top: 2vw;
  cursor: pointer;
  margin-left: 50%;
  transform: translate(-50%, 0%);

  font-family: Desc;
  font-size: 1.1vw;

  text-align: center;
  color: #fff;
  padding: 0.7vw 0.9vw;
}

.subtitle{
  color: #6c63ff;
  text-align: center;
  margin-top: 3.5%;

  font-family: Subtitle;
  font-size: 2.5vw;
}

.search{
  width: 35%;
  margin-left: 32.5%;
  margin-top: 3%;
}

.input{
  width: 100%;
  border-radius: 100px;
  background: #fff;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
  padding: 0.3% 0%;
}

.input input{
  width: 92%;
  padding: 1% 3%;
  border: none;
  background: rgba(0, 0, 0, 0);

  font-size: 1vw;
}

.input img{
  height: 1.5vw;
  margin-bottom: 0.3vw;
  vertical-align: middle;
  cursor: pointer;
}

.search p{
  margin-top: 5%;
  font-family: Desc;
  font-size: 0.6vw;
  opacity: 0.7;
}

.report h1{
  color: #6c63ff;
  text-align: center;
  margin-top: 3.5%;

  font-family: Subtitle;
  font-size: 2.5vw;
}

.report h3{
  color: #111;
  text-align: center;
  margin-top: 3.5%;

  font-family: Subtitle;
  font-size: 1.5vw;
  width: 50%;
  margin-left: 25%;
}

.report h2{
  color: #111;
  margin-top: 3.5%;

  font-family: Subtitle;
  font-size: 1.5vw;
  width: 50%;
}

.report h3 a{
  color: #6c63ff;
}

.chart h4{
  color: #000;
  font-family: Subtitle;
  font-size: 1.5vw;
  display: inline-block;
}

.chart .dot{
  width: 1.2vw;
  height: 1.2vw;
  background: #000;
  border-radius: 100px;
  display: inline-block;
  vertical-align: sub;
}

.report p{
  font-family: Desc;
  font-size: 1vw;
  width: 60%;
  margin-left: 20%;
  margin-top: 2%;
}

.report .desc{
  width: 40%;
  margin-left: 30%;
  text-align: center;
  font-size: 1.3vw;
}

.report .head img{
  width: 4vw;
  height: 4vw;
  display: inline-block;
  border-radius: 10px;
}

.head{
  margin-left: 50%;
  transform: translate(-12.5%, 0%);
  padding-top: 3%;
  margin-top: 5%;
}

.report .wrap{
  display: inline-block;
  vertical-align: top;
  margin-left: 1vw;
}

.report{
  background: #fff;
  width: 70%;
  margin-left: 15%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.2);
}

.line{
  background: linear-gradient(147deg, rgba(8,10,147,1) 0%, rgba(0,170,255,1) 100%);
  width: 7%;
  height: .5vw;
  border-radius: 100px;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 2%;
}

/* RESPONSIVE:  */

@media only screen and (max-width: 800px) {
  header h1{
    padding-top: 7vw;
    padding-bottom: 7vw;
    font-size: 8vw;
  }

  .illustration{
    width: 70%;
    margin: 15%;
  }

  .description{
    width: 70%;
    margin: 15%;
  }

  .description h3{
    font-size: 5vw;
  }

  .description p{
    line-height: inherit;
    font-family: Desc;
    font-size: 4vw;
    font-weight: 100;
  }

  .description .button{
    margin-top: 7vw;
    width: 39vw;
    font-size: 4.5vw;
    padding: 2.7vw 3.5vw;
  }

  .subtitle, .report h1{
    font-size: 5.5vw;
    margin-top: 10vw;
  }

  .search{
    width: 80%;
    margin-left: 10%;
    margin-top: 8%;
  }

  .input input{
    width: 90%;
    padding: 1% 1% 1% 3%;
    font-size: 3vw;
  }

  .input img{
    height: 4vw;
    margin-bottom: 0.3vw;
    padding-right: 3%;
  }

  .search p{
    margin-top: 10%;
    font-size: 2.5vw;
    width: 80%;
  }

  .report h3{
    margin-top: 5%;

    font-size: 3vw;
    width: 70%;
    margin-left: 15%;
  }

  .report{
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.2);
  }

.report h3{
  margin-top: 3.5%;
  font-size: 5vw;
  }

.report p{
  font-size: 3vw;
  width: 80%;
  margin-left: 10%;
  margin-top: 6%;
  padding-bottom: 6%;
}

.report .desc{
  width: 70%;
  margin-left: 15%;
  text-align: center;
  font-size: 3.9vw;
}

.report .head img{
  width: 11vw;
  height: 11vw;
  display: inline-block;
  border-radius: 10px;
}

.head{
  margin-left: 50%;
  transform: translate(-27.5%, 0%);
  padding-top: 3%;
  margin-top: 15%;
}
 
.line{
  background: linear-gradient(147deg, rgba(8,10,147,1) 0%, rgba(0,170,255,1) 100%);
  width: 12%;
  height: 1.5vw;
  border-radius: 100px;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 5%;
}

.report h2{
  margin-top: 9%;

  font-family: Subtitle;
  font-size: 3.5vw;
  width: 50%;
}

.chart h4{
  font-size: 3.5vw;
}

.chart .dot{
  width: 3vw;
  height: 3vw;
  background: #000;
  border-radius: 100px;
  display: inline-block;
  vertical-align: sub;
}

}
